In [1]:
name=(input('Enter your name:'))        #2
print('Hello '  + name)

Enter your name:Dave
Hello Dave

In [2]:
hours=(35)     #3
rate=(2.75)
pay=(hours*rate)
print(pay)

96.25

In [3]:
width = 17
height = 12.0

In [4]:
#--1
width//2

8

In [5]:
type(width//2)

int

In [6]:
#2
width/2.0

8.5

In [7]:
type(width/2.0)

float

In [8]:
#3
height/3

4.0

In [9]:
type(height/3)

float

In [10]:
#4
(width//2)+(width/2.0)*5

50.5

In [11]:
type((width//2)+(width/2.0)*5)

float

---

In [12]:
language = 'java'

if language=='python':
    print('conditional was true')
elif language =='java':
    print('language is java')
elif language =='javascript':
    print('language is javascript')
else:
    print('no match')

language is java

In [13]:
user="Admin"
logged_in='True'
if user=='Admin'and logged_in:
    print('Admin page')
else:
    print('Bad creds')

Admin page

In [14]:
user="Admin"
logged_in='True'
if not logged_in:
    print('please lod in')
else:
    print('Welcome')

Welcome

In [15]:
a=[1,2,3]
b=[1,2,3]
print(a==b)

True

In [16]:
print(a is b)

False

In [17]:
print(id(a))

2279180654272

In [18]:
print(id(b))

2279180552832

In [19]:
condition= False
if condition:
    print('Evaluated to True')
else:
    print('Evaluate to False')

Evaluate to False

In [22]:
inp = input('Enter Fahrenheit Temperature: ')
fahr = float(inp)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

Enter Fahrenheit Temperature: 67
19.444444444444443

In [27]:
inp = input('Enter Fahrenheit Temperature:')
try:
    fahr = float(inp)
    cel = (fahr - 32.0) * 5.0 / 9.0
    print(cel)
except:
    print('Please enter a number')

Enter Fahrenheit Temperature:90
32.22222222222222

LOOPS AND ITERATION: DEFINATE LOOPS

In [28]:
friends= ['Toni', 'Mary', 'Paul']
for friend in friends:
    print(' Happy New Year ' + friend)
print(' Done! ')

 Happy New Year Toni
 Happy New Year Mary
 Happy New Year Paul
 Done!

In [29]:
for i in [5,4,3,2,1]:
    print(i)
print('Blast Off!')

5
4
3
2
1
Blast Off!

In [30]:
we = [9,8,7,6]
for w in we:
    print(w)

9
8
7
6

In [31]:
largest_so_far=-1
print(' before ',largest_so_far)
for the_number in [9,41,12,3,74,15]:
    if the_number>largest_so_far:
        largest_so_far= the_number
        print(largest_so_far, the_number)
print('After', largest_so_far)

 before  -1
9 9
41 41
74 74
After 74

In [32]:
zock=0
print('Before',zock)
for thing in [9,41,12,3,74,15]:
    zock=(zock + thing)
    print('After',zock)

Before 0
After 9
After 50
After 62
After 65
After 139
After 154

In [33]:
count=0
sum=0
print('Before', count, sum)
for value in [9,41,12,3,74,15]:
    count=count+1
    sum=sum+value
    print(count, sum, value)
print('After', count, sum, sum/count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [34]:
found= False
print('Before', found)
for value in [9,41,12,3,74,15]:
    if value==3:
        found=True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [35]:
Smallest_so_far=-1
print(' before ',Smallest_so_far)
for the_number in [9,41,12,3,74,15]:
    if the_number<Smallest_so_far:
        Smallest_so_far= the_number
        print(Smallest_so_far, the_number)
print('After', Smallest_so_far)

 before  -1
After -1

In [36]:
Smallest=None
print(' before ')
for value in [9, 41, 12, 3, 74, 15]:
    if Smallest is None:
        Smallest= value
        print(Smallest, value)
    elif value< Smallest:
        print( Smallest, value)
print('After', Smallest)

 before
9 9
9 3
After 9

In [37]:
x=0
while x<5:
    print('Not there yet, x=' + str(x))
    x=x+1

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4

In [38]:
def attempts(n):
    x!=1
    while x <=n:
        print('Attempt' + str(x))
        x += 1  # same as x = +1
    print('Done')

In [39]:
#Infinite loop
while x%2==0:
    x=x/2
    print(x)

In [40]:
product=1
for n in range(1,10):
    product=product*n
print(product)

362880

In [41]:
def to_celsius(x):
    return(x-32)*5/9
for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [42]:
#nested loops
for left in range(7):
    for right in range(left, 7):
        print('['+ str(left) + '|' + str(right)+ ']', end=' ')
print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [2|2] [2|3] [2|4] [2|5] [2|6] [3|3] [3|4] [3|5] [3|6] [4|4] [4|5] [4|6] [5|5] [5|6] [6|6]

In [43]:
teams=['Dragon', 'Wolfs','Pandas', 'Unicorn']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " VS " + away_team)

Dragon VS Wolfs
Dragon VS Pandas
Dragon VS Unicorn
Wolfs VS Dragon
Wolfs VS Pandas
Wolfs VS Unicorn
Pandas VS Dragon
Pandas VS Wolfs
Pandas VS Unicorn
Unicorn VS Dragon
Unicorn VS Wolfs
Unicorn VS Pandas

In [45]:
while True:
    print(“Hello World”)
break

SyntaxError: invalid character in identifier (<ipython-input-45-18736215afe2>, line 2)

In [46]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

LOOPING THROUGH A STRING

In [47]:
fruit='Banana'
for letters in fruit:
    print(letters)

B
a
n
a
n
a

In [111]:
index=0
fruit='Banana'
while index< len(fruit):
    letter = fruit[ index]
    print(index)
    index=index +1

0
1
2
3
4
5

In [112]:
type(fruit)

str

In [49]:
word='Banana'
count=0
for letter in word:
    if letter=='a':
        count=count+1
        print(count)

1
2
3

In [50]:
#logical Operation
fruit='Banana'

In [51]:
"n" in fruit

True

In [52]:
'nan' in fruit

True

In [53]:
'm' in fruit

False

In [54]:
if 'a' in fruit:
    print('Found it!')

Found it!

In [55]:
greet='Hello Bob!'
zap= greet.lower()
print(zap)

hello bob!

In [56]:
greet

'Hello Bob!'

In [57]:
fresh='Mint! '
cap= fresh.upper()
print(cap)

MINT!

In [58]:
fresh='Mint! '
type(fresh)

str

In [59]:
dir(fresh)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#                            STRING LIBRARY
str.capitalize()                                 str.replace(old, new[, count])
str.center(width[, fillchar])                    str.lower()
str.endswith(suffix[, start[, end]])             str.rstrip([chars])
str.start(sub[, start[, end]])                   str.strip([chars])
str.lstrip([chars])                              str.upper()

In [60]:
#Search and replace
greet='Hello Boss'
nstr=greet.replace('Boss','Jane')
print(nstr)

Hello Jane

In [61]:
nstr=greet.replace('o','x')
print(nstr)

Hellx Bxss

In [62]:
#stripping white space
#lstrip() and rstrip is to remove white or blank space in a string
# while strip() is to remove from both sides of a string
greet='  Hello Boss '
greet.lstrip()

'Hello Boss '

In [63]:
greet='  Hello Boss '
greet.rstrip()

'  Hello Boss'

In [64]:
greet='  Hello Boss '
greet.strip()

'Hello Boss'

In [65]:
#prefix
line='Please have a nice day'
line.startswith('Please')

True

In [66]:
#prefix
line='Please have a nice day'
line.startswith('P')

True

In [67]:
#prefix
line='Please have a nice day'
line.startswith('a')

False

In [1]:
#Parsing and extracting
from stephen.marquard@uct.ac.za sat jan 5

SyntaxError: invalid syntax (<ipython-input-1-9536d445ebbd>, line 2)

In [69]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [70]:
for i in range(len(friends)):
    friend=friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [71]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [72]:
t[:4]

[9, 41, 12, 3]

In [73]:
t[3:]

[3, 74, 15]

In [74]:
t[:]

[9, 41, 12, 3, 74, 15]

In [75]:
x=list()
type(x)

list

In [76]:
print(len(t))

6

In [77]:
print(max(t))

74

In [78]:
print(min(t))

3

In [79]:
print(sum(t))

TypeError: 'int' object is not callable

In [ ]:
dir(x)

In [80]:
stuff=list()#empty list
stuff.append('Books')
stuff.append(99)
print(stuff)
stuff.append('Cookies')
print(stuff)

['Books', 99]
['Books', 99, 'Cookies']

In [81]:
total=0         #first method
count=0
while True :
    inp=input('Enter a number:  ')
    if inp=='done' : break
    value = float(inp)
    total=total+value
    count= count+ 1
average=total/count
print('Average:',average)

Enter a number:  3
Enter a number:  done
Average: 3.0

In [82]:
numlist=list()
while True:
    inp=input('Enter a number:  ')
    if inp=='done' : break
    value= float(inp)
    numlist.append(value)
average= sum(numlist)/len(numlist)

Enter a number:  3
Enter a number:  4
Enter a number:  done

TypeError: 'int' object is not callable

In [83]:
ti=tuple()
dir(ti)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [84]:
(x,y)=(4,'Fred') #turple
print(x)

4

In [85]:
(a,b)=(99, 80)
print(a+b)

179

In [86]:
d=dict()
d['csev']=2
d['cwen']=4
for (k,v) in d.items():
  print(k,v)

csev 2
cwen 4

In [87]:
winners=['Ashley','Tope','Abdul']
for index, person in enumerate(winners):
    print('{}-{}'.format(index + 1, person))

1-Ashley
2-Tope
3-Abdul

In [88]:
def full_email(people):
    result=[]
    for email, name in people:
        result.append('{}<{}>'.format(name, email))
    return result

print(full_email([('feranmisanya@gmail.com','Feranmi'), ('segehomes@yahoo.com', 'Shola')]))

['Feranmi<feranmisanya@gmail.com>', 'Shola<segehomes@yahoo.com>']

In [89]:
var=list('Hey there')
print(var)

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [90]:
winners.extend(var)
print(winners)

['Ashley', 'Tope', 'Abdul', 'H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [91]:
winners.append('Dickson')
print(winners)

['Ashley', 'Tope', 'Abdul', 'H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', 'Dickson']

In [92]:
winners.insert(5,'olu')
print(winners)

['Ashley', 'Tope', 'Abdul', 'H', 'e', 'olu', 'y', ' ', 't', 'h', 'e', 'r', 'e', 'Dickson']

In [93]:
winners.remove('olu')
print(winners)

['Ashley', 'Tope', 'Abdul', 'H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', 'Dickson']

In [96]:
index = 0
while index < len(fruit):
    letter = fruit[index]
print(letter)
index = index + 1

KeyboardInterrupt:

In [95]:
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

Your word,Banana, comes before banana.

In [99]:
purse = dict()
purse['money']=21
purse['candy']=12
purse['tissue']=75
print(purse)

{'money': 21, 'candy': 12, 'tissue': 75}

In [101]:
print(purse['candy'])

12

In [102]:
purse['candy']=purse['candy']+3
print(purse)

{'money': 21, 'candy': 15, 'tissue': 75}

In [103]:
#list
lst=list()
lst.append(21)
lst.append(183)
print(lst)

[21, 183]

In [104]:
lst[0]=23
print(lst)

[23, 183]

In [105]:
#dict
ddd=dict()
ddd['age']=21
ddd['course']=182
print(ddd)

{'age': 21, 'course': 182}

In [107]:
ddd['age']=23
print(ddd)

{'age': 23, 'course': 182}

In [108]:
ccc=dict()
ccc['csev']=1
ccc['cwen']=1
print(ccc)

{'csev': 1, 'cwen': 1}

In [109]:
ccc['cwen']=ccc['cwen']+1
print(ccc)

{'csev': 1, 'cwen': 2}

In [110]:
counts=dict()
names=['csev','cwen','csev','cwen', 'zqian']
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name]=counts[name]+1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [111]:
counts=dict()
names=['csev','cwen','csev','cwen', 'zqian']
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name]=counts.get(name, 0)+1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [113]:
counts=dict()
line=input('Enter a line of text:')
words=line.split()

print('words:', words)
print('counting...')

for word in words:
    counts[word]=counts.get(word,0)+1
print('counts', counts)

Enter a line of text:feragamo
words: ['feragamo']
counting...
counts {'feragamo': 1}

In [114]:
counts=dict()
names=['csev','cwen','csev','cwen', 'zqian']
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name]=counts[name]+1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [121]:
counts={'chuck':1, 'Fred':42, 'jan':100}
for key in counts:
    print(key, counts[key])

chuck 1
Fred 42
jan 100

In [122]:
jjj={'chuck':1, 'Fred':42, 'jan':100}
print(list(jjj))

['chuck', 'Fred', 'jan']

In [124]:
print(jjj.keys())

dict_keys(['chuck', 'Fred', 'jan'])

In [125]:
print(jjj.values())

dict_values([1, 42, 100])

In [126]:
print(jjj.items())

dict_items([('chuck', 1), ('Fred', 42), ('jan', 100)])

In [128]:
for aaa,bbb in jjj.items():
    print(aaa, bbb)

chuck 1
Fred 42
jan 100

In [130]:
name=input('Enter file:')
handle=open(name)

counts=dict()
for line in handle:
    words=lines.split()
    for word in words:
        counts[word]=count.get(word, 0) +1
        
bigcount=None
bigword=None
for word, count in counts.items():
    if bigcount is None or count > bigcount:
        bigword=word
        bigcount=count
    
print(bigword, bigcount)

KeyboardInterrupt: Interrupted by user

In [3]:
file_counts={'jpg':10, 'txt':14, 'csv':2, 'py':23}
for extension in file_counts:
    print(extension)

jpg
txt
csv
py

In [6]:
for ext, amount in file_counts.items():
    print('There are{}files with the .{} extention'.format(amount, ext))

There are10files with the .jpg extention
There are14files with the .txt extention
There are2files with the .csv extention
There are23files with the .py extention

In [7]:
file_counts.keys()

dict_keys(['jpg', 'txt', 'csv', 'py'])

In [8]:
file_counts.values()

dict_values([10, 14, 2, 23])

In [9]:
d1={}
print(d1)
print(type)

{}
<class 'type'>

In [15]:
ds=dict([(1,'welcome'), (2,'to'),(3,'python'), (4,'tutorial')])
print(ds)

{1: 'welcome', 2: 'to', 3: 'python', 4: 'tutorial'}

In [14]:
print(type(ds))

<class 'list'>

In [16]:
ds.pop(2)# deleting

'to'

In [17]:
print(ds)

{1: 'welcome', 3: 'python', 4: 'tutorial'}

In [18]:
ds.popitem()#delete

(4, 'tutorial')

In [19]:
ds.popitem()

(3, 'python')

In [20]:
print(ds)

{1: 'welcome'}

In [21]:
keys={'a', 'b', 'c', 'd'}   # another way eof making dictionaries
value= 1
dict.fromkeys(keys, value)

{'a': 1, 'c': 1, 'd': 1, 'b': 1}

In [24]:
ds.clear()
print(ds)

{}

In [35]:
#Set..........................................................................................................
s=set([1,2,3,4])
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [37]:
s.add('a')
print(s)

{1, 2, 3, 4, 'a'}

In [46]:
fs=frozenset([1,2,3,4,])
print(fs)     #frozenset doesn't have the

frozenset({1, 2, 3, 4})

In [48]:
s1=set([1,3,7,2])
s2=set([3,2,8,9])

In [49]:
s1.union(s2)           #union,diference, intersection,symmetric difference

{1, 2, 3, 7, 8, 9}

In [50]:
s1.difference(s2)

{1, 7}

In [51]:
s1==s2

False

In [52]:
s1>s2

False

In [53]:
1 in s1

True

In [54]:
61 in s1

False

In [55]:
1 not in s1

False

In [56]:
s1^s2

{1, 7, 8, 9}

In [109]:
messi={'key1':123456, 'key2':'string', 'key3':[12,33,44], 'key4':['team', 'team2','team3']}

In [58]:
messi['key3']

[12, 33, 44]

In [59]:
messi['key3'][1]

33

In [61]:
messi['key4'][0].upper()

'TEAM'

In [62]:
messi['key1']

123456

In [63]:
messi['key1']-=123

In [64]:
messi['key1']

123333

In [66]:
p={'key1': {'nestkey':{'subnestkey':'value'}}}

In [68]:
p['key1'] ['nestkey']['subnestkey']

'value'

In [1]:
def thing():
    print('Hello')
    print('fun')
thing()
print('zip')
thing()

Hello
fun
zip
Hello
fun

In [2]:
big=max('Hello world')
print(big)

w

In [3]:
tiny=min('Hello world')
print(tiny)

In [6]:
print(float(99) / 100)

0.99

In [14]:
x=5
print('Hello')

def print_lyrics():
    print('i"m lumberjack, and I"m ok')
    print('I sleep all night, and work all day')
    
print('yo')
x=x+2
print(x)
print_lyrics()

Hello
yo
7
i"m lumberjack, and I"m ok
I sleep all night, and work all day

In [16]:
def greet(lang):
    if lang=='Es':
        print('Hola')
    elif lang=='Fr':
        print('Bonjour')
    else:
        print('Hello')
greet('en')

Hello

In [18]:
greet('Fr')

Bonjour

In [19]:
def greet(lang):
    if lang=='Es':
        print('Hola')
    elif lang=='Fr':
        print('Bonjour')
    else:
        return('Hello')

In [23]:
print(greet('FR'),'Gleen')

Hello Gleen

In [24]:
print(greet('Fr'),'Gleen')

Bonjour
None Gleen

In [25]:
abs()#absolute
all()#all function
ascii()#amercan staandard code for information interchange
enumerate()
format()
getattr()
id()#identification function
len()#counts the number of character
map()
min()#minimum, can be done for strings too
pow()#raise to power
print()
setattr()
sorted()#arranges
type()
random.random ..from 0 to 1
random.randit
math() #you have to import
update()
copy()

TypeError: abs() takes exactly one argument (0 given)

In [27]:
class person:
    name='john'
    age=43
    country='Norway'
x=getattr(person, 'age')
print(x)

43

In [105]:
we=['x', 'h', 'a', 'm']
x=sorted(we)
print(x)

['a', 'h', 'm', 'x']

In [106]:
we.sort(reverse=True)
print(we)
print()

['x', 'm', 'h', 'a']

In [30]:
def my_function(country='Nigeria'):
    print("I'm from "+ country)
my_function('Ghana')
my_function('Canada')
my_function('Durban')
my_function('Cuba')

I'm from Ghana
I'm from Canada
I'm from Durban
I'm from Cuba

In [33]:
def opor(x):
    return 5*x
print(opor(3))
print(opor(1))
print(opor(7))
print(opor(0))

15
5
35
0

In [35]:
#recussion is a function calling itself
def tri_recusion(k):
    if(k>0):
        result = k+tri_recusion(k-1)
        print(result)
    else:
        result=0
    return result
print('\n\nRecusion Example Results ')
tri_recusion(6)

Recusion Example Results
1
3
6
10
15
21

21

In [36]:
#LANBDA function....is anonimous...can take arguementbut only one expression

In [42]:
x = lambda a : a + 10
print(x(5))

15

In [43]:
x = lambda a,b : a*b
print(x(2,3))

6

In [45]:
def myfunc(n):
    return lambda a: a*n
mydoubler=myfunc(2)
mytripler=myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [ ]:
# This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')
# Ask the player to guess 6 times.
for guessesTaken in range(1, 7):
    print('Take a guess.')
    guess = int(input())
    
    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break # This condition is the correct guess!
if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guessesTaken) + ' guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))

I am thinking of a number between 1 and 20.
Take a guess.

In [ ]:
list1=[1,2,3, 'bobo']
print(list1)

In [ ]:
#append,extend,insert
list1.append(2)
print(list1)

In [ ]:
list1.append((2,3))#tuple
print(list1)

In [ ]:
list1.extend((2,3))#list
print(list1)

In [ ]:
list1.insert(2,'mopol')
print(list1)

In [ ]:
#del,pop,remove
del list1[2]
print(list1)

In [ ]:
list1.pop(4)
print(list1)

In [ ]:
remove.list1[0]
print(list1)

--------------------------------------------------WEEK 2--------------------------------------------

# numerical python library{Numpy}

In [60]:
import numpy as np
import math

In [61]:
#ARRAYS
a=np.array([1,2,3])
print(a)

[1 2 3]

In [62]:
print(a.ndim)    #ndim--number of dimention

1

In [63]:
b=np.array([[1,2,3],[4,5,6]])
print(b)
print(b.ndim)

[[1 2 3]
 [4 5 6]]
2

In [64]:
#lenght of each dimension
b.shape

(2, 3)

In [65]:
b.size

6

In [66]:
b.itemsize  #this is due to the fact that it is by default 32 byte but if the dtype is 16byte it would be 2

4

In [121]:
a.dtype

dtype('int32')

In [68]:
#Total
# OR b.size*b.itemsize        
b.nbytes

24

In [122]:
b.dtype

dtype('int32')

In [125]:
c=np.array([2.2,5,1.1])
c

array([2.2, 5. , 1.1])

In [126]:
c.dtype.name

'float64'

In [129]:
d=np.zeros((2,3))
print(d)
e=np.ones((2,3))
print(e)

[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]

In [136]:
np.random.rand(2,3)#random positive int from 0-1

array([[0.42423848, 0.69756447, 0.70015907],
       [0.42682634, 0.93128533, 0.38878717]])

In [133]:
f=np.arange(10,50,2)
f

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48])

In [137]:
np.linspace(0,2,15)#15 values from 0-2 with spaces

array([0.        , 0.14285714, 0.28571429, 0.42857143, 0.57142857,
       0.71428571, 0.85714286, 1.        , 1.14285714, 1.28571429,
       1.42857143, 1.57142857, 1.71428571, 1.85714286, 2.        ])

#Array operation

In [139]:
a=np.array([10,20,30,40])
b=np.array([1,2,3,4])
c=a-b
print(c)
d=a*b
print(d)

[ 9 18 27 36]
[ 10  40  90 160]

In [141]:
#converting celcius to farenheit 
farenheit=np.array([0,-10,-5,-15,0])
celcius=(farenheit-31)*(5/9)
celcius

array([-17.22222222, -22.77777778, -20.        , -25.55555556,
       -17.22222222])

In [143]:
celcius>-20

array([ True, False, False, False,  True])

In [145]:
celcius%2==0

array([False, False,  True, False, False])

In [149]:
A=np.array([[1,1],[0,1]])
B=np.array([[2,0],[3,4]])
print(A*B)#* this is for element wise multiplication

[[2 0]
 [0 4]]

In [150]:
print(A@B)  #matrix product

[[5 4]
 [3 4]]

In [154]:
print(A.dot(B))  #matrix product

[[5 4]
 [3 4]]

In [156]:
print(A.shape)
print(B.shape)

(2, 2)
(2, 2)

In [157]:
array1=np.array([[1,2,3],[4,5,6]])
print(array1.dtype)

int32

In [56]:
array2=np.array([[7.1,8.2,9.1],[10.4,11.2,12.3]])
print(array2.dtype)

float64

In [159]:
array3=array1+array2
print(array3)
print(array3.dtype)

[[ 8.1 10.2 12.1]
 [14.4 16.2 18.3]]
float64

In [160]:
print(array3.sum())
print(array3.max())
print(array3.min())
print(array3.mean())

79.3
18.3
8.1
13.216666666666667

In [161]:
b=np.arange(1,16,1).reshape(3,5)
print(b)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [164]:
from PIL import Image
from IPython.display import display

In [ ]:
'''im=Image.open('Capture')
display(im)
array=np.array(im)
print(array.shape)
array'''

mask=np.full(array.shape,255)
mask
modified_array=array-mask
modified_array=modified_array*-1

modified_array=modified_array.astype(np.uint8)
modified_array

display(Image.fromarray(modified_array))

reshaped=np.reshaped(modified_array,(100,400))
print(reshaped.shape)
display(Image.fromarray(reshaped))

In [6]:
#INDEXING
a=np.array([[1,2],[3,4],[5,6]])
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [9]:
print(a[1])
print(a[1,1])

[3 4]
4

In [13]:
np.array([a[0,0],a[1,1],a[2,1]])

array([1, 4, 6])

In [16]:
#OR
np.array(a[[0,1,2],[0,1,1]])

array([1, 4, 6])

In [17]:
a>5

array([[False, False],
       [False, False],
       [False,  True]])

In [18]:
print(a[a>5])

[6]

In [19]:
#SLICING

In [20]:
a=np.array([1,2,3,4,5])
print(a[:3])

[1 2 3]

In [22]:
a=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [23]:
a[:2]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [24]:
a[:2, 1:3]

array([[2, 3],
       [6, 7]])

In [27]:
a[:2, 1:3]
print('sub array index[0,0] value before change':, sub_array[0,0])
sub_array[0,0]=50
print('sub array index[0,0] value after change':, sub_array[0,0])
print('original array index[0,1] value after change':, sub_array[0,1])

SyntaxError: invalid syntax (<ipython-input-27-ef3b61919b8f>, line 2)

In [ ]:
wines=np.genfromtxt('C:\\Users\\Feranmi\\Download\\winequality-red,delimiter=';',skip_header=1)
print(wines)

In [48]:
wines=np.genfromtxt('datasets/winequality-red.csv',delimiter=';',skip_header=1)
print()

OSError: datasets/winequality-red.csv not found.

In [54]:
graduate_admission=np.genfromtxt('datasets/Admission_Predict.csv',dtype=None,delimiter=',', skip_header=1,
                                names=('Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP','LOR','CGPA',
                                      'Research','Chance of Admit'))

OSError: datasets/Admission_Predict.csv not found.